header {
    position: relative;
}

.social {
    position:fixed;
    top: 3px;
    right: 15px;
}
button:focus {
    outline: 5px auto whitesmoke;
}
.smaller {
    font-size: 10px;
}

.svg {
    object-fit: cover;
    vertical-align: middle;
    margin: auto;
    width: 200px;
    height: 200px
}

.overlay {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgb(235, 235, 235, 0.5);
    padding: 10px 30px;
    margin: 0px;
    font-size: 8px;
    font-style: italic;
}
.caption {
    background-color: rgb(235, 235, 235, 0.5);
    padding: 10px 30px;
    margin: 0px;
    font-size: 8px;
    font-style: italic;
}

@media (max-width: 576px){
    .overlay {
        display: none; 
}
.fixed-bottom {
    position: sticky;
}
}
@media (min-width: 768px) {
    .caption {
        display: none; 
}
}